@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Poppins:wght@300;400;600&display=swap');

.title{
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px #5271ff, 0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
    animation: blinker 0.7s linear 3;
}
.login-form-wrap{
    background: linear-gradient(135deg, rgba(158, 15, 184, 0.7) -10%, rgba(5, 232, 255, 0.8) 180%), url(https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg);;

}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
input {
    font-size: 1.2rem;
    display: block;
    background-color: #25273c;
    box-sizing: border-box;
    padding-left: 8px;
    width: 300px;
    outline: none;
    margin-bottom: 30px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    border: #cacde8 2px solid;
    color: #fff;
  }
  
  input[type="submit"] {
    border: none;
    display: block;
    background-color: #000000aa;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  input[type="submit"]:hover {
    transform: scale(1.06);
    transition: all 0.5s ease;
    border: #fff 2px solid;
  }
  .G:hover{
    transform: scale(1.06);
    transition: all 0.5S ease;
  }
  .m{
    
    background: linear-gradient(135deg, rgba(158, 15, 184, 0.7) -10%, rgba(5, 232, 255, 0.8) 180%), url(https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg);
  }

  .logout svg:hover{
    transform: scale(1.09);
  }
  .items-statuses span  {
    padding: 0 4px;
    cursor: pointer;
}

.items-clear {
    cursor: pointer;
    text-align: end;
}

.items-statuses span:hover, .items-clear:hover {
    color: hsl(220, 98%, 61%);
}


.items-statuses .active  {
    color: hsl(220, 98%, 61%);
}
.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}

.date {
  font-size: 12px;
  color: #a6a6b2;
 
  
}
.new-todo {
  width: 700px;
  height: 100px;
  background-color: 	#25273c;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  
}
.new-todo-input {
  flex-grow: 1;
  display: flex;
  /* align-items: center; */
  border: 0 solid 	#25273c ;
  text-decoration: none;
  
}

.add_delete{
  padding: 0;
  margin-right:2rem;
  margin-left: 2rem;
  background: transparent;
  font-size: 2rem;
  color: #cacdca;
}
.add_delete:hover{
  color: #4d5066;
  cursor: pointer;
}
.new-todo-input input {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  margin-left: 30px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  color: 	#cacde8;
}
.new{
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.new-todo-input input::placeholder {
  color: #4d5066;
}
.check{
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #393a4c;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark svg {
  visibility: hidden;
}

.check-mark.checked svg, .check-mark:hover svg {
  visibility: visible;
}

.check-mark:hover {
  border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.check-mark.checked {
  background-color: pink;
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}

.todo-text.completed {
  text-decoration: line-through;
  color: #4d5066; 
}
.check-mark.checked{
  border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
 
  width: 100%;
  background: linear-gradient(135deg, rgba(158, 15, 184, 0.7) -10%, rgba(5, 232, 255, 0.8) 180%), url(https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg);
  min-height: 250px;
}